<% action_url = (cat.persisted?) ? cat_url(cat) : cats_url %>
<% header_text = (cat.persisted?) ?  "Edit a cat!" : "Create a cat!" %>
<% submit_value = (cat.persisted?) ?   "Edit my cat!" : "Create my cat!" %>

<form action="<%=action_url%>" method="POST">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <h1><%= header_text %></h1>

  <p><h2>Name: </h2></p>
  <p><input type="text" name="cat[name]" value="<%= @cat.name %>"></p>

  <p><h2>Color: </h2></p>
  <p><input type="text" name="cat[color]" value="<%= @cat.color %>"></p>

  <p><h2>Birthday: </h2></p>
  <p><input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>"></p>

  <p><h2>Sex: </h2></p>
  <p><input type="radio" name="cat[sex]" value="m" checked="checked">Male<input type="radio" name="cat[sex]" value="f">Female</p>

  <p><h2>Description test: </h2></p>
  <p><textarea rows="5" cols="20" name="cat[description]"><%= @cat.description %></textarea></p>

  <p><input type="submit" value="<%= submit_value %>"></p>

</form>
